@model SampleProject.Models.CustomerModel
@{
    var taskStatus = ViewData["taskStatusList"];
    ViewBag.Title = "CreateCustomer";
    //Layout = null;
}



@using (Html.BeginForm())


{

    <section class="content-header">
        <h1>
            @ViewBag.Title

        </h1>

    </section>


    <br />

    <section class="box">
        <section class="box-body">
            <div class="controls" style="display:none">
                @Html.TextBoxFor(m => m.id, new { id = "id", @class = "form-control", placeholder = "id" })
            </div>
            <div class="row">

                <div class="form-group col-md-6">
                    <label>First Name<span class="text-danger">*</span></label>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.firstName, new { id = "TxtFirstName", @class = "form-control", placeholder = "First Name", @required = "required", onkeypress = "return ValidateAlpha(event);" })
                        <div class="help-block"></div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label>Middle Name<span class="text-danger">*</span></label>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.middleName, new { id = "TxtMiddleName", @class = "form-control", placeholder = "Middle Name", @required = "required", onkeypress = "return ValidateAlpha(event);" })
                        <div class="help-block"></div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="form-group col-md-6">
                    <label>Last Name<span class="text-danger">*</span></label>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.lastName, new { id = "Txtlastname", @class = "form-control", placeholder = "Last Name", @required = "required", onkeypress = "return ValidateAlpha(event);" })
                        <div class="help-block"></div>
                    </div>
                </div>



                <div class="form-group col-md-6">
                    <label>Phone No<span class="text-danger">*</span></label>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.phoneNO, new { id = "Txtcontact", @maxlength = "10", @class = "form-control", placeholder = "Phone No", @required = "required", onkeypress = "return isNumber(event);" })                    <div class="help-block"></div>
                    </div>
                </div>


            </div>
            <div class="row">

                <div class="form-group col-md-6">
                    <label>Mobile No<span class="text-danger">*</span></label>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.mobileNo, new { id = "TxtMobileNo", @class = "form-control", placeholder = "Mobile No", @required = "required", onkeypress = "return isNumber(event);" })
                        <div class="help-block"></div>
                    </div>
                </div>


                <div class="form-group col-md-6">
                    <label>Address<span class="text-danger">*</span></label>
                    <div class="controls">
                        @Html.TextAreaFor(m => m.address, new { id = "TxtAddress", @class = "form-control", placeholder = "Address", @required = "required" })
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="form-group col-md-6">
                    <label>Country<span class="text-danger">*</span></label>
                    <div class="controls">
                        @Html.DropDownListFor(m => m.country, new SelectList(ViewBag.listCO, "Value", "Text"), "select", new { id = "TxtCountry", @class = "form-control" })
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label>State<span class="text-danger">*</span></label>
                    <div class="controls">
                        @Html.DropDownListFor(m => m.state, new SelectList(ViewBag.listST, "Value", "Text"), "select", new { id = "TxtState", @class = "form-control" })
                        <div class="help-block"></div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label>City<span class="text-danger">*</span></label>
                    <div class="controls">
                        @Html.DropDownListFor(m => m.city, new SelectList(ViewBag.listCi, "Value", "Text"), "select", new { id = "TxtCity", @class = "form-control" })
                        <div class="help-block"></div>
                    </div>

                </div>
                <div class="form-group col-md-6">
                    <label>Aadhar Number<span class="text-danger">*</span></label>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.Aadhar, new { id = "TxtProof1", @class = "form-control" })
                        <div class="help-block"></div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label>Voter ID<span class="text-danger">*</span></label>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.VoterID, new { id = "TxtProof2", @class = "form-control" })
                        <div class="help-block"></div>
                    </div>

                </div>
                <div class="form-group col-md-6">
                    <label>Block No<span class="text-danger">*</span></label>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.blockNo, new { id = "TxtBlockNo", @class = "form-control" })
                        <div class="help-block"></div>
                    </div>

                </div>

            </div>
            <div class="row">

                <div class="form-group col-md-6">
                    <label>Floor<span class="text-danger">*</span></label>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.floorNo, new { id = "TxtFloorNo", @class = "form-control" })
                        <div class="help-block"></div>
                    </div>

                </div>
                <div class="form-group col-md-6">
                    <label>Flat No<span class="text-danger">*</span></label>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.houseNo, new { id = "TxtFlatNo", @class = "form-control" })
                        <div class="help-block"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label>Login Name<span class="text-danger">*</span></label>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.userName, new { id = "TxtUN", @class = "form-control" })
                        <div class="help-block"></div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label>Password<span class="text-danger">*</span></label>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.password, new { id = "TxtPW", @class = "form-control" })
                        <div class="help-block"></div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <input type="button" value="@Model.btnValue" name="Add" id="btnAdd" class="btn btn-block btn-success">
                </div>
                <div class="col-md-2">
                    <input type="button" value="Back" name="back" id="btnback" class="btn btn-block btn-danger" onclick="window.location.href='/Customer/ViewCustomer'">
                </div>
            </div>
        </section>
        </section>

    @*<div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Step wizard</h3>
            <h6 class="box-subtitle">You can find the <a href="http://www.jquery-steps.com/" target="_blank">offical website </a></h6>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body wizard-content">
            <form action="#" class="tab-wizard wizard-circle wizard clearfix" role="application" id="steps-uid-0">
                <div class="steps clearfix"><ul role="tablist"><li role="tab" class="first done" aria-disabled="false" aria-selected="false"><a id="steps-uid-0-t-0" href="#steps-uid-0-h-0" aria-controls="steps-uid-0-p-0"><span class="step">1</span> Personal Info</a></li><li role="tab" class="done" aria-disabled="false" aria-selected="false"><a id="steps-uid-0-t-1" href="#steps-uid-0-h-1" aria-controls="steps-uid-0-p-1"><span class="step">2</span> Job Status</a></li><li role="tab" class="current" aria-disabled="false" aria-selected="true"><a id="steps-uid-0-t-2" href="#steps-uid-0-h-2" aria-controls="steps-uid-0-p-2"><span class="current-info audible">current step: </span><span class="step">3</span> Interview</a></li><li role="tab" class="last done" aria-disabled="false" aria-selected="false"><a id="steps-uid-0-t-3" href="#steps-uid-0-h-3" aria-controls="steps-uid-0-p-3"><span class="step">4</span> Remark</a></li></ul></div><div class="content clearfix">
                    <!-- Step 1 -->
                    <h6 id="steps-uid-0-h-0" tabindex="-1" class="title">Personal Info</h6>
                    <section id="steps-uid-0-p-0" role="tabpanel" aria-labelledby="steps-uid-0-h-0" class="body" aria-hidden="true" style="display: none;">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="firstName1">First Name :</label>
                                    <input type="text" class="form-control" id="firstName1">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="lastName1">Last Name :</label>
                                    <input type="text" class="form-control" id="lastName1">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="emailAddress1">Email Address :</label>
                                    <input type="email" class="form-control" id="emailAddress1">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="phoneNumber1">Phone Number :</label>
                                    <input type="tel" class="form-control" id="phoneNumber1">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="location1">Select City :</label>
                                    <select class="custom-select form-control" id="location1" name="location">
                                        <option value="">Select City</option>
                                        <option value="Amsterdam">India</option>
                                        <option value="Berlin">USA</option>
                                        <option value="Frankfurt">Dubai</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="date1">Date of Birth :</label>
                                    <input type="date" class="form-control" id="date1">
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Step 2 -->
                    <h6 id="steps-uid-0-h-1" tabindex="-1" class="title">Job Status</h6>
                    <section id="steps-uid-0-p-1" role="tabpanel" aria-labelledby="steps-uid-0-h-1" class="body" aria-hidden="true" style="display: none;">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="jobTitle1">Job Title :</label>
                                    <input type="text" class="form-control" id="jobTitle1">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="videoUrl1">Company Name :</label>
                                    <input type="text" class="form-control" id="videoUrl1">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="shortDescription1">Job Description :</label>
                                    <textarea name="shortDescription" id="shortDescription1" rows="6" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Step 3 -->
                    <h6 id="steps-uid-0-h-2" tabindex="-1" class="title current">Interview</h6>
                    <section id="steps-uid-0-p-2" role="tabpanel" aria-labelledby="steps-uid-0-h-2" class="body current" aria-hidden="false" style="">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="int1">Interview For :</label>
                                    <input type="text" class="form-control" id="int1">
                                </div>
                                <div class="form-group">
                                    <label for="intType1">Interview Type :</label>
                                    <select class="custom-select form-control" id="intType1" data-placeholder="Type to search cities" name="intType1">
                                        <option value="Banquet">Normal</option>
                                        <option value="Fund Raiser">Difficult</option>
                                        <option value="Dinner Party">Hard</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="Location1">Location :</label>
                                    <select class="custom-select form-control" id="Location1" name="location">
                                        <option value="">Select City</option>
                                        <option value="India">India</option>
                                        <option value="USA">USA</option>
                                        <option value="Dubai">Dubai</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="jobTitle2">Interview Date :</label>
                                    <input type="date" class="form-control" id="jobTitle2">
                                </div>
                                <div class="form-group">
                                    <label>Requirements :</label>
                                    <div class="c-inputs-stacked">
                                        <label class="inline custom-control custom-checkbox block">
                                            <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description ml-0">Employee</span>
                                        </label>
                                        <label class="inline custom-control custom-checkbox block">
                                            <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description ml-0">Contract</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Step 4 -->
                    <h6 id="steps-uid-0-h-3" tabindex="-1" class="title">Remark</h6>
                    <section id="steps-uid-0-p-3" role="tabpanel" aria-labelledby="steps-uid-0-h-3" class="body" aria-hidden="true" style="display: none;">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="behName1">Behaviour :</label>
                                    <input type="text" class="form-control" id="behName1">
                                </div>
                                <div class="form-group">
                                    <label for="participants1">Confidance</label>
                                    <input type="text" class="form-control" id="participants1">
                                </div>
                                <div class="form-group">
                                    <label for="participants1">Result</label>
                                    <select class="custom-select form-control" id="participants1" name="location">
                                        <option value="">Select Result</option>
                                        <option value="Selected">Selected</option>
                                        <option value="Rejected">Rejected</option>
                                        <option value="Call Second-time">Call Second-time</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="decisions1">Comments</label>
                                    <textarea name="decisions" id="decisions1" rows="4" class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Rate Interviwer :</label>
                                    <div class="c-inputs-stacked">
                                        <label class="inline custom-control custom-checkbox block">
                                            <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description ml-0">1 star</span>
                                        </label>
                                        <label class="inline custom-control custom-checkbox block">
                                            <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description ml-0">2 star</span>
                                        </label>
                                        <label class="inline custom-control custom-checkbox block">
                                            <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description ml-0">3 star</span>
                                        </label>
                                        <label class="inline custom-control custom-checkbox block">
                                            <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description ml-0">4 star</span>
                                        </label>
                                        <label class="inline custom-control custom-checkbox block">
                                            <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description ml-0">5 star</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div><div class="actions clearfix"><ul role="menu" aria-label="Pagination"><li class="" aria-disabled="false"><a href="#previous" role="menuitem">Previous</a></li><li aria-hidden="false" aria-disabled="false" class="" style=""><a href="#next" role="menuitem">Next</a></li><li aria-hidden="true" style="display: none;"><a href="#finish" role="menuitem">Submit</a></li></ul></div>
            </form>
        </div>
        <!-- /.box-body -->
    </div>*@

            }
